<a href="https://colab.research.google.com/github/leo1929/Dataset_Coffee/blob/main/Creacion_Base_de_datos_Ficticia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Esto es un ejercio para la creación de una base de datos ficticia de una tienda la cual vende 4 tipos de productos.



1.   Electrodomesticos
1.   Ropa
2.   Bicicletas
2.   Comida

Creado y desarrolado por: [BOSS LEO PAPI](https://www.linkedin.com/in/leo-hernandez-datasciencee/)

In [23]:
#Importación de librerias a usar
import pandas as pd
import random
!pip install faker
from faker import Faker

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (18.13.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)

# Descripción de las tablas a usar:

## 1. La tabla clientes tendra estos campos:

* ID, usar numeros con una longitu de 10 cifras.
* Nombre, Nombres aleatorios en Español
* Edad, edades desde 15 hasta maximo 100
* Correo electronico, tomo las 4 primeras letras del hombre y 2 numeros aleatorios
* Telefono, números con el indicativo +57 para saber que son Colombianos y su respectivo operador.

## 2. La tabla Productos tendra estos campos:
* ID
* Categoria, estas son las categorias:
  1. Ciclismo:
  MTB, Ruta, Gravel
  2. Electrodomesticos:
  Pc, Tablet, Celular
  3. Ropa:
  Formal, Casual, Exclusiva
  4. Comida:
  Vegana, Italiana, Francesa

* Precio, estaran en dolares, aleatoriamente desde 10 USD hasta 8900 USD, por categorias:

  1. Ciclismo:
  700 USD a 8900 USD aleatoriamente

  1. Electrodomesticos:
  100 USD a 2000 USD aleatoriamente

  1. Ropa:
  10 USD a 6900 USD aleatoriamente

  1. Comida:
  10 USD a 1200 USD aleatoriamente

## 3. La tabla Ventas tendra estos campos:

* ID Venta
* Fecha, en orden Año/Mes/Día
* ID Cliente, tiene que ir realacionado con el ID de la tabla clientes
* ID Producto, tiene que ir realacionado con el ID de la tabla productos
* Cantidad, Valores de venta de cada uno de los productos

## 4. La tabla Opiniones tendra estos campos:

* ID opinión
* ID Cliente, tiene que ir relacionado con el ID de la tabla clientes
* ID Producto, tiene que ir relacionado con el ID de la tabla de producto
* Opinión:
  1. None
  1. Mala
  1. Rgular
  1. Aceptable
  1. Buena
  1. Excelente

Con esta base de datos se busca hacer ejercicios de análisiss de datos, manejor de estos, graficas, reportes en programas como Power BI, Tableu entre otros y practicar SQL.

In [27]:
# Crear instancia en Faker para la creación de nombres en español aleatoriamente
faker = Faker('es_ES')

# Lista de opciones de números de teléfono con los principales operadores [Tigo, Claro, Movistar, Wom]
opciones_telefono = ['300', '301', '302', '303', '304', '324', '310', '311', '312', '313', '314', '320', '321', '322', '323', '315', '316', '317', '318', '319']

# Crear tabla Clientes,  Creo un diccionario llamado clientes_data que contendrá los datos de la tabla "Clientes"
clientes_data = {
    'ID': [str(random.randint(1000000000, 9999999999)) for _ in range(100)],    #Numeros de "Cedula aleatorios de 10 cifras"
    'Nombre': [faker.first_name() for _ in range(100)],                         #Lista de 100 Clientes aleatorios en español
    'Edad': [random.randint(15, 100) for _ in range(100)],                      #
    'Correo electrónico': ['{}{}@ejemplo.com'.format(nombre[:4].lower(), random.randint(10, 99)) for nombre in [n[:4] for n in clientes_data['Nombre']]],
    'Teléfono': ['+57 {} {}'.format(random.choice(opciones_telefono), random.randint(1000000, 9999999)) for _ in range(100)],
}

clientes_df = pd.DataFrame(clientes_data)
display(clientes_df)

            ID          Nombre  Edad  Correo electrónico         Teléfono
0   2515761052  Juan Francisco    84  boni16@ejemplo.com  +57 301 9235299
1   6296815728         Conrado    24  cosm81@ejemplo.com  +57 316 6644621
2   1620231585          Hernán    44  fran81@ejemplo.com  +57 315 3667447
3   7443813480         Teófilo    28  césa70@ejemplo.com  +57 319 4521898
4   6909037720          Efraín    68  igna10@ejemplo.com  +57 323 7678138
..         ...             ...   ...                 ...              ...
95  2850740845          Sergio    34  pasc49@ejemplo.com  +57 303 6892506
96  2960230979         Guiomar    49  serg24@ejemplo.com  +57 303 7151938
97  4548118050  Jose Francisco    36  juli27@ejemplo.com  +57 303 7295241
98  6360671306        Casandra    86  tris87@ejemplo.com  +57 313 1708041
99  7684599262         Mariano    28  anna96@ejemplo.com  +57 303 9803094

[100 rows x 5 columns]

In [30]:
# Crear tabla Productos
categorias = ['Ciclismo', 'Electrodomesticos', 'Ropa', 'Comida']
subcategorias = {
    'Ciclismo': ['MTB', 'Ruta', 'Gravel'],
    'Electrodomesticos': ['Pc', 'Tablet', 'Celular'],
    'Ropa': ['Formal', 'Casual', 'Exclusiva'],
    'Comida': ['Vegana', 'Italiana', 'Francesa']
}

productos_data = {
    'ID': range(1, 101),
    'Categoria': [],
    'Precio': [],
}

for _ in range(100):
    categoria = random.choice(categorias)
    subcategoria = random.choice(subcategorias[categoria])
    productos_data['Categoria'].append(f'{categoria} - {subcategoria}')

    if categoria == 'Ciclismo':
        productos_data['Precio'].append(random.randint(700, 8900))
    elif categoria == 'Electrodomesticos':
        productos_data['Precio'].append(random.randint(100, 2000))
    elif categoria == 'Ropa':
        productos_data['Precio'].append(random.randint(10, 6900))
    elif categoria == 'Comida':
        productos_data['Precio'].append(random.randint(10, 1200))

productos_df = pd.DataFrame(productos_data)
display(productos_df)

     ID                   Categoria  Precio
0     1           Ciclismo - Gravel    8207
1     2             Comida - Vegana     187
2     3             Ciclismo - Ruta    6157
3     4      Electrodomesticos - Pc    1308
4     5              Ciclismo - MTB    1796
..  ...                         ...     ...
95   96               Ropa - Casual     171
96   97  Electrodomesticos - Tablet    1788
97   98             Ciclismo - Ruta    4556
98   99            Ropa - Exclusiva    4258
99  100           Comida - Francesa     134

[100 rows x 3 columns]

In [26]:
# Creamos la tabla Ventas:
ventas_data = {
    'ID Venta': range(1, 101),
    'Fecha': pd.date_range(start='1/1/2023', periods=100),
    'ID Cliente': [random.choice(clientes_data['ID']) for _ in range(100)],
    'ID Producto': [random.choice(productos_data['ID']) for _ in range(100)],
    'Cantidad': [random.randint(1, 10) for _ in range(100)],
}

ventas_df = pd.DataFrame(ventas_data)
display(ventas_df)

    ID Venta      Fecha  ID Cliente  ID Producto  Cantidad
0          1 2023-01-01  2364441448           24         3
1          2 2023-01-02  1394094206           38         8
2          3 2023-01-03  5866498057            2         8
3          4 2023-01-04  2675151141            1         4
4          5 2023-01-05  1926173749           48         1
..       ...        ...         ...          ...       ...
95        96 2023-04-06  2194251320           70         2
96        97 2023-04-07  8537240746           74         9
97        98 2023-04-08  7171690598           78         4
98        99 2023-04-09  3361635286           37         9
99       100 2023-04-10  7171690598           97        10

[100 rows x 5 columns]

In [25]:
# Creamos la tabla Opiniones:
opiniones_data = {
    'ID Opinión': range(1, 101),
    'ID Cliente': [random.choice(clientes_data['ID']) for _ in range(100)],
    'ID Producto': [random.choice(productos_data['ID']) for _ in range(100)],
    'Opinión': [random.choice(['None', 'Mala', 'Regular', 'Aceptable', 'Buena', 'Excelente']) for _ in range(100)],
}

opiniones_df = pd.DataFrame(opiniones_data)
display(opiniones_df)

    ID Opinión  ID Cliente  ID Producto    Opinión
0            1  5501937332           62       None
1            2  7993640828           72  Aceptable
2            3  1394094206           72  Aceptable
3            4  7378152399            1    Regular
4            5  8729246348           63    Regular
..         ...         ...          ...        ...
95          96  2134492731           17      Buena
96          97  1209592232           27    Regular
97          98  3831707110            7       None
98          99  4484431212           57       Mala
99         100  4224852481           75  Aceptable

[100 rows x 4 columns]

In [22]:
from google.colab import files

# Exportar a Excel
clientes_df.to_excel('clientes.xlsx', index=False)
#productos_df.to_excel('productos.xlsx', index=False)
#ventas_df.to_excel('ventas.xlsx', index=False)
#opiniones_df.to_excel('opiniones.xlsx', index=False)

# Descargar los archivos de Excel
files.download('clientes.xlsx')
#files.download('productos.xlsx')
#files.download('ventas.xlsx')
#files.download('opiniones.xlsx')